.osd-guide {
  z-index: 0;
  cursor: pointer;
  pointer-events: none;
}

.osd-guide-line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform-origin: center;
  pointer-events: auto;
}

.osd-guide-horizontal {
  cursor: row-resize;
}

.osd-guide-horizontal .osd-guide-line {
  border-top: 1px solid #D262F1;
}

.osd-guide-vertical {
  cursor: col-resize;
}

.osd-guide-vertical .osd-guide-line {
  border-left: 1px solid #D262F1;
}
