.osd-guide {
  z-index: 0;
  cursor: pointer;
}

.osd-guide-horizontal {
  left: 0 !important;
  height: 2px !important;
  width: 100% !important;
  border-top: 1px solid #84FFD5;
  cursor: row-resize;
}

.osd-guide-vertical {
  top: 0 !important;
  height: 100% !important;
  width: 2px !important;
  border-left: 1px solid #84FFD5;
  cursor: col-resize;
}
